<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="homepage - steimatzky" verbose="1">

	<test name="Navigation bar - test">
		<classes>
			<class name="Pages.homepage" />
			<class name="Navigation_bar.Navigation_bar" />
		</classes>
	</test>

</suite>